.btn {
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 600;
    padding: 12px 14px 14px 14px;
    border-radius: var(--border-radius-sm);
    border: none;
    text-decoration: none;
}

.btn-default {
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: var(--color-yellow);
    
    --bs-btn-active-color: var(--color-black);
    --bs-btn-active-bg: var(--color-yellow-light);
    --bs-btn-active-border-color: unset;

    --bs-btn-hover-color: var(--color-black);
    --bs-btn-hover-bg: var(--color-yellow-light);
    --bs-btn-hover-border-color: unset;
}

.btn-light_blue {
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: var(--color-neutral-400);
    
    --bs-btn-active-color: var(--color-black);
    --bs-btn-active-bg: var(--color-blue-light);
    --bs-btn-active-border-color: unset;

    --bs-btn-hover-color: var(--color-black);
    --bs-btn-hover-bg: var(--color-blue-light);
    --bs-btn-hover-border-color: unset;
}

.btn-blue {
    color:  var(--color-neutral-100);
    background-color:  var(--color-blue);

    &:hover, &:active, &:focus {
        color:var(--color-neutral-100);
        background-color: var(--color-blue-dark);
        transition: .2s ease-in-out;
    }
}

.btn:disabled {
    --bs-btn-disabled-color: var(--color-neutral-600);
    --bs-btn-disabled-bg: var(--color-neutral-500);
    --bs-btn-disabled-border-color: unset;
}

.btn-default.link{
    color: var(--color-black);
    background-color: var(--color-yellow);
    &:hover, &:active, &:focus {
        color: var(--color-black);
        background-color: var(--color-yellow-light);
    }
}
.btn-light_blue.link{
    color: var(--color-black);
    background-color: var(--color-neutral-400);
    &:hover, &:active, &:focus {
        color: var(--color-black);
        background-color: var(--color-blue-light);
    }
}
.btn-green{
    color: var(--color-white);
    background-color: var(--color-success);

    &:hover, &:active, &:focus {
        color: var(--color-white);
        background-color: var(--color-success-dark);
    }
}