.card {
    display: flex;
    margin-bottom: calc(var(--spacing-sm) / 2);
    border: 1px solid var(--color-neutral-500);
    border-radius: var(--border-radius-sm);
}

.link {
    display: flex;
    width: 100%;
    padding: var(--spacing-sm);
}

.cardLoading {
    border: 0;
    background-color: var(--color-neutral-200);
    padding: var(--spacing-sm);
    height: auto;
}