.label {
    display: inline-flex;
    margin-top: 3px;
    margin-left: 10px;
    font-family: var(--main-font);
    font-size: var(--font-size-md);
}

.labelError {
    color: var(--color-error);
}

.error {
    border: 1px solid var(--color-error);
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-neutral-500);
    outline: 0;
    box-shadow: none;
    border-radius: 2px;
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow: none;
    }

    &:checked {
        background-color: var(--color-blue);
        border: 1px solid var(--color-blue);
    }
}

&.disabled {
    cursor: default;
    opacity: .8;
}