.imageContainer {
    position: relative;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes BgPulse {
    0% {
        background-color: #ffffff;
    }
    50% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: #ffffff;
    }
}

.imageContainerLoading {
    &:after {
        content: "";
        position: absolute;
        display: block;
        opacity: .3;
        width: 100%;
        height: 100%;
        animation: BgPulse 2s ease-in-out infinite;
    }
}

.image {
    display: flex;
    min-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.imageLoading {
    opacity: 0;
}