.selectBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 470px;
    max-width: 100%;
    border: 1px solid var(--color-neutral-500);
    border-radius: var(--border-radius-sm);

    @mixin media-breakpoint-down md {
        width: 100%;
    }

    &:hover {
        border-color: var(--color-neutral-600);

        .availableOptions {
            border-color: var(--color-neutral-600);
        }
    }
}

.selectBoxOpen {
    border-bottom: 0;
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.label {
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
}

.selectedValues {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    min-height: 53px;
}

.chip {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: calc(var(--spacing-sm) / 3) calc(var(--spacing-sm) / 2);
    background-color: var(--color-neutral-400);
    border-radius: 2px;
}

.chipDisabled {
    background-color: var(--color-neutral-300);
}

.chipClose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;

    &:hover {
        background-color: var(--color-neutral-500);
    }
}

.chipCloseDisabled {
    cursor: auto;

    &:hover {
        background-color: transparent;
    }
}

.availableOptions {
    position: absolute;
    top: 100%;
    background-color: #FFF;
    width: calc(100% + 2px);
    left: -1px;
    border: 1px solid var(--color-neutral-500);
    border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
    box-shadow: 0 3px 3px var(--color-box-shadow-black);
}

.option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: calc(var(--spacing-sm) / 3) calc(var(--spacing-sm) / 2);
    font-size: var(--font-size-sm);
}

.optionDisabled {
    background-color: var(--color-neutral-200);
    cursor: auto;

    &:hover {
        background-color: var(--color-neutral-200);
    }
}

.optionFormGroup {
    margin: 0;
}

.optionInput {
    margin: 0;
}