/**
 * Colors
 */
:root {
    --color-black: #1f1f1f;
    --color-black-light: #333333;
    --color-black-dark: #000000;
    --color-box-shadow-black: #1F1F1F33;

    --color-yellow: #ffec00;
    --color-yellow-light: #fff46b;
    --color-yellow-dark: #e3d303;

    --color-blue: #00adef;
    --color-blue-light: #c4e5ee;
    --color-blue-dark: #0685b8;

    --color-error: #c24d5c;
    --color-error-light: #f7ccd2;
    --color-error-dark: #a42c3b;
    --color-error-light-200: #FFDFE3;

    --color-success: #39bc8c;
    --color-success-light: #eaf5f1;
    --color-success-light-200: #D1EBE1;
    --color-success-dark: #21986d;

    --color-white:  #FFFFFF;
    --color-neutral-100: #FFFFFF;
    --color-neutral-200: #F4F9FC;
    --color-neutral-300: #E4EDF5;
    --color-neutral-400: #E4F4FB;
    --color-neutral-500: #C8D5E5;
    --color-neutral-600: #9DB2C6;
    --color-neutral-700: #27425F;
    --color-neutral-800: #0E2D4D;

    --color-product-price-grey: #A0B5C8;
}

/**
 * Fonts
 */
:root {
    --main-font: var(--main-font);
    --heading-font: var(--main-font);
}

/**
 * Spacing
 */
:root {
    --spacing-sm: 15px;
    --spacing-md: 30px;
    --spacing-lg: 45px;
    --spacing-xl: 60px;
}

/**
 * Border radius
 */
:root {
    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-radius-lg: 24px;
}

/**
 * Breakpoints
 */
:root {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/*
 * Fonts
 */
:root {
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-xxl: 22px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}