.button {
    -webkit-appearance: none;
    background-color: var(--color-white);
    box-shadow: none;
    outline: none;
    border: 0;
    height: 40px;
    border-radius: var(--border-radius-sm);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    color: var(--color-black);
    font-weight: var(--font-weight-semibold);

    &:hover {
        background-color: var(--color-black-light);
        color: var(--color-white);
    }
}