.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    height: 40px;
    background-color: var(--color-white);
    border: 0;
    box-shadow: none;
    border-radius: var(--border-radius-sm);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);

    &:focus, &:active {
        outline: 0;
        box-shadow: none;
    }
}

.textarea {
    padding-top: 10px;
    height: 80px;
    background-color: var(--color-white);
    border: 0;
    box-shadow: none;
    border-radius: var(--border-radius-sm);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);

    &:focus, &:active {
        outline: 0;
        box-shadow: none;
    }
}

.label {
    color: var(--color-white);
}