@import '_variables.css';

body {
    background-color: var(--color-black);
}

* {
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font);
    color: var(--color-white);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;
    @mixin media-breakpoint-down md {
        font-size: 28px;
        line-height: 42px;
    }
}

h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    @mixin media-breakpoint-down md {
        font-size: 22px;
        line-height: 33px;
    }
}

h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}


p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--color-white);
}

main .page {
    a {
        color: var(--color-blue);

        &:hover {
            color: var(--color-blue-dark);
        }
    }
}

a.link {
    text-decoration: none;
    color: var(--color-blue);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: var(--color-blue-dark);
        transition: all 0.2s ease-in-out;
    }
}

table {
    font-family: var(--main-font);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    tr {
        border: none;
    }

    thead {
        th {
            color: var(--color-neutral-600);
            font-weight: 500;
        }
    }

    tbody {
        tr:nth-child(even) td {
            background-color: var(--color-neutral-300);
        }

        td {
            padding: 12px 0;
        }

        td:first-child {
            padding-left: 16px;
        }

        td:last-child {
            padding-right: 16px;
        }

        td:first-child,
        th:first-child {
            border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
        }

        td:last-child,
        th:last-child {
            border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
        }
    }
}

li::marker {
    color: var(--color-blue);
}

pre code {
    background-color: var(--color-neutral-500);
    font-family: var(--main-font);
    display: flex;
    padding: 15px;
    width: 100%;
}

.container {
    @mixin media-breakpoint-down lg {
        max-width: 100%;
    }
}
