.label {
    color: var(--color-black);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.labelError {
    color: var(--color-error);
}

.labelFocus {
    color: var(--color-blue);
}

.textField {
    color: var(--color-black-dark);
    font-family: var(--main-font);
    font-size: 16px;
    border: 1px solid var(--color-neutral-500);
    height: 52px;

    &:focus {
        border: 1px solid var(--color-blue);
        box-shadow: none;
        outline: 0;
    }
}

.textFieldError {
    border: 1px solid var(--color-error);
}