.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 100;
}

.backdropEnter {
    opacity: 0;
}

.backdropEnterActive {
    opacity: 1;
    transition: opacity 300ms;
}

.backdropExit {
    opacity: 1;
}

.backdropExitActive {
    opacity: 0;
    transition: opacity 300ms;
}

.modal {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-lg) var(--spacing-sm);
    z-index: 100;
    border-radius: var(--border-radius-md);
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    max-width: 90%;
    background-color: var(--color-black-light);
}

.modalEnter {
    opacity: 0;
    transform: translate(-50%, -100%);
}

.modalEnterActive {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 300ms, transform 300ms;
}

.modalExit {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.modalExitActive {
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: opacity 300ms, transform 300ms;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.iconClose {
    fill: var(--color-black);
    background-color: var(--color-neutral-200);
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    &:hover {
        background-color: var(--color-neutral-300);
    }
}