.card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-sm) / 4);
    width: 100%;
    background-color: var(--color-black-light);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md);
}

.actions {
    display: flex;
    gap: var(--spacing-md);
}

.link {
    text-decoration: none;
}