.iconButton {
    border: none;
    border-radius: var(--border-radius-sm);
}

.cartIcon{
    fill: var(--color-black);
}
.cartIconGreen{
    fill: var(--color-black);
}
.heartIconBlack{
    fill: var(--color-black);
}