.notification{
    display: flex;
    padding: 11px 15px;
    width: 100%;
    border-radius: var(--border-radius-sm);
}
.notificationBody{
    display: flex;
    width: 100%;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: auto;
    font-weight: var(--font-weight-semibold);
}
.success{
    background-color: var(--color-success-light);
    color: var(--color-success);
}
.danger{
    background-color: var(--color-error-light-200);
    color: var(--color-error);
}
.btnClose{
    width: 36px;
    height: 36px;
}
.danger .btnClose{
    background-color: var(--color-error-light);
    fill: var(--color-error);
}
.success .btnClose{
    background-color: var(--color-success-light-200);
    fill: var(--color-success);
}
.successIcon{
    fill: var(--color-success);
    margin: 2px 10px 0 0;
}
.warningIcon{
    fill: var(--color-error);
    margin-right: 10px;
}