.react-datepicker-wrapper {
  width: 100%;
  padding-left: 15px;
  border: 1px solid var(--color-neutral-500);
  border-radius: var(--bs-border-radius);
  > div {
    display: flex;
    align-items: center;
  }
  button {
    position: static;
    margin-left: auto;
    &:after {
      background-color: var(--color-error);
    }
  }
}