.label {
    display: block;
    color: var(--color-black);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.labelError {
    color: var(--color-error);
}

.labelFocus {
    color: var(--color-blue);
}
.datepicker {
    height: 52px;
    margin-left: 10px;
    padding: 0 10px;
    color: var(--color-black-dark);
    font-family: var(--main-font);
    font-size: 16px;
    border: none;
    border-radius: unset;
    background: none;

    &:focus {
        border: none;
        box-shadow: none;
        outline: 0;
    }
}

