.searchBoxContainer{
    position: relative;
    padding-top: 5px;
}
.searchBox{
    position: relative;
    --bs-body-bg: var(--color-neutral-200);
    min-width: 380px;
    border-color: var(--color-neutral-100);
    color: var(--color-black-dark);
    font-family: var(--main-font);
    font-size: 16px;
    height: 52px;
    box-shadow: none;
    outline: none;

    &::placeholder {
        color: var(--color-neutral-600);
    }
    @mixin media-breakpoint-down lg {
        min-width: 100%;
    }

    &:focus{
        --bs-border-color: var(--color-blue);
        border-color: var(--color-blue);
        box-shadow: none;
    }
}

.iconRight{
    position: absolute;
    top: 21px;
    right: 16px;
    pointer-events: none;
    fill: var(--color-neutral-600);
}