.card {
    display: flex;
    background-color: var(--color-black-light);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md);
}

.statusContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 5%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}