
.paper {
    padding: var(--spacing-md);

    @mixin media-breakpoint-down md {
        padding: var(--spacing-sm);
    }
}

.blue {
    background-color: var(--color-neutral-200);
}

.white {
    background-color: #FFF;
}

.elevationMedium {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2)
}

.borderRadiusSmall {
    border-radius: var(--border-radius-sm);
}

.borderRadiusMedium {
    border-radius: var(--border-radius-md);
}

.borderRadiusLarge {
    border-radius: var(--border-radius-lg);
}